@{
    ViewData["Title"] = "Корзина";
}
@model CartViewModel;
<div class="container">
    <div class="table">
        @if (@Model?.Products.Count != 0)
        {
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Цена</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                    <tbody>
                        @foreach (var prod in Model.Products)
                        {
                            <tr>
                                <th>@prod.Product.Name</th>
                                <th>@prod.Product.Price</th>
                                <th>@prod.Count</th>
                                <th>
                                    @using (Html.BeginForm("Delete", "Cart"))
                                    {
                                        @Html.Hidden("Name", prod.Product.Name);
                                        @Html.Hidden("returnUrl", Context.Request.Path);
                                        <input type="submit" class="btn btn-info" value="Удалить" />
                                    }

                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right">Цена</th>
                            <th>@Model.TotalPrice</th>
                        </tr>
                    </tfoot>
            </table>
            <div class="row justify-content-around">
                @using (Html.BeginForm("CreateOrder", "Cart", FormMethod.Post))
                {
                    @Html.Hidden("returnUrl", Context.Request.Path);
                    for (int i = 0; i < Model.Products.Count(); i++)
                    {
                        <input type="hidden" name="products.Index" value="@i" />
                        <input type="hidden" name="products[@i].Count" value="@Model.Products[i].Count" />
                        <input type="hidden" name="products[@i].Product.Name" value="@Model.Products[i].Product.Name" />
                        <input type="hidden" name="products[@i].Product.Price" value="@Model.Products[i].Product.Price" />
                        <input type="hidden" name="products[@i].Product.ProductId" value="@Model.Products[i].Product.ProductId" />
                    }

                    <input type="submit" class="btn btn-outline-success" value="Подтвердить" />
                }
                @using (Html.BeginForm("Clear", "Cart"))
                {
                    @Html.Hidden("returnUrl", Context.Request.Path);
                    <input type="submit" class="btn btn-outline-info" value="Очистить корзину" />
                }
            </div>
            
        }
        else
        {
                <p>Вы еще не выбрали ни одного продукта.</p>
        }
    </div>
   
</div>