@{
    ViewData["Title"] = "Корзина";
}
@using DeamonSharps.Shop.Simple.Entities;
@model CartViewModel;
<div class="container">
    <div class="table">
        @if (Model!=null&&Model?.Products.Count!=0)
        {
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Цена</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                    <tbody>
                        @foreach (var prod in Model.Products)
                        {
                            <tr>
                                <th>@prod.Product.Name</th>
                                <th>@prod.Product.Price</th>
                                <th>@prod.Count</th>
                                <th>
                                    @using (Html.BeginForm("Delete", "Cart"))
                                    {
                                        @Html.Hidden("Name", prod.Product.Name);
                                        @Html.Hidden("returnUrl", Context.Request.Path);
                                        <input type="submit" class="btn btn-info" value="Удалить" />
                                    }

                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-right">Цена</th>
                            <th>@Model.TotalPrice</th>
                        </tr>
                    </tfoot>
            </table>
            <div class="row justify-content-around">
                @using (Html.BeginForm("Create", "Orders"))
                {
                    <input type="submit" class="btn btn-outline-success" value="Подтвердить" />
                }
                @using (Html.BeginForm("Clear","Cart"))
                {
                @Html.Hidden("returnUrl", Context.Request.Path);
                <input type="submit" class="btn btn-outline-info" value="Очистить корзину" />
                }
            </div>
            
        }
        else
        {
                <p>Вы еще не выбрали ни одного продукта.</p>
        }




    </div>
   
</div>