@{
    ViewData["Title"] = "Заказы";
}
@model OrderPageViewModel;
<div class="container">
    <div class="row">
        @if (Model.Orders.Count != 0)
        {
            <table class="table w-100">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:10%">Номер</th>
                        <th style="width:20%">Статус</th>
                        <th style="width:20%">Дата создания</th>
                        <th style="width:20%">Покупатель</th>
                        <th style="width:30%">Сумма покупок</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Orders.Count; i++)
                    {
                        <tr>
                            <th>@Model.Orders[i].Id</th>
                            <th>@Model.Orders[i].Status</th>
                            <th>@Model.Orders[i].CreationDate.ToString()</th>
                            <th>@Model.Orders[i].Customer.FullName</th>
                            <th>@Model.Orders[i].Products.Sum(p => p.Count * p.Product.Price)</th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Вы еще не сделали ни одного заказа.</p>
        }
    </div>
</div>
@if (Model.Orders.Count != 0)
{
    await Html.RenderPartialAsync("OrdersPageSelector",
        new ViewDataDictionary(ViewData)
        {
                {"PageCount" ,Model.PageCount},
                {"CurrentPage" ,Model.CurrentPage}
        });
}
