@{
    ViewData["Title"] = "Заказы";
}
@model OrderPageViewModel;
    <div class="row h-100">
        @if (Model.Orders.Count != 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:10%">Номер</th>
                        <th style="width:20%">Статус</th>
                        <th style="width:20%">Дата создания</th>
                        <th style="width:20%">Покупатель</th>
                        <th style="width:30%">Сумма покупок</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 0; }
                    @for (; i < Model.Orders.Count; i++)
                    {
                        var order = Model.Orders[i];
                        <tr>
                            <th>@order.Id</th>
                            <th>@order.Status</th>
                            <th>@order.CreationDate.ToString()</th>
                            <th>@order.Customer.FullName</th>
                            <th>@order.Products.Sum(p => p.Count * p.Product.Price)</th>
                        </tr>
                    }
                    @for (int j = 0; j < 14 - i; j++)
                    {
                        <tr>
                            <th class="text-white">0</th>
                            <th class="text-white">0</th>
                            <th class="text-white">0</th>
                            <th class="text-white">0</th>
                            <th class="text-white">0</th>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Вы еще не сделали ни одного заказа.</p>
        }

        @if (Model.Orders.Count != 0)
        {
            await Html.RenderPartialAsync("OrdersPageSelector",
                new ViewDataDictionary(ViewData)
                {
                    {"PageCount" ,Model.PageCount},
                    {"CurrentPage" ,Model.CurrentPage}
                });
        }
    </div>

